---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col gap-20">
    <div class="leading-relaxed text-sm">
      <p>
        Music has been a significant part of my
        life for as long as I can remember. I play the sousaphone in a band
        called <a href="https://pantaloonstrio.com/" class="underline"
          >"Pantaloons"</a
        >, where we blend the mellow tones of my instrument with elements of EDM
        to create a distinct acoustic-EDM fusion.
      </p>
      <p>
        Beyond my role in the band, I also spend my free time delving into music
        production, primarily using Ableton Live. It's a quiet and introspective
        process for me, a way to channel my thoughts and emotions into
        electronic beats and melodies.
      </p>
      <p>
        My musical journey is a personal one, an ongoing exploration of
        self-expression through sound. Whether I'm on stage with Pantaloons or
        in my studio with Ableton Live, I find solace and fulfillment in the
        world of music, even if it may not always be as exciting as it sounds.
      </p>
    </div>
  </div>
</Layout>
