---
const links = [
  {
    name: "Home",
    link: "/",
  },
  {
    name: "Music",
    link: "/music",
  },
  {
    name: "Blog",
    link: "/blog",
  },
];
---

<div class="flex gap-2 my-2">
  {
    links.map((x, index) => (
      <>
        <a
          href={x.link}
          class="hover:underline underline-offset-4 border-dashed"
        >
          {x.name}
        </a>
        {index < links.length - 1 && (
          <div class="border-dashed border-l my-1" />
        )}
      </>
    ))
  }
</div>
